[include]
	path = ~/.gitconfig.private
[commit]
	gpgsign = true
[pull]
	rebase = true
[rebase]
	# Support fixup and squash commits
	autoSquash = true
	# Stash dirty worktree
	autoStash = true
[push]
	default = simple
[alias]
	l           = log --graph --decorate --pretty=format:\"%C(yellow)%h%C(reset)%C(auto)%d%C(reset) %s %C(yellow)(%C(cyan)%ar%C(yellow), %C(blue)%an%C(yellow))%C(reset)\"
	ll          = log --graph --decorate --stat --pretty=format:\"%C(yellow)%h%C(reset)%C(auto)%d%C(reset) %s%n %C(cyan)%ar%C(reset), %C(blue)%an%C(reset)%n\"
	wc          = whatchanged -p --abbrev-commit --pretty=medium
	dc          = diff --cached
	dw          = diff --color-words
	ds          = diff --stat
	unstage     = reset HEAD
	uncommit    = reset --soft HEAD^
	recommit    = commit --amend
	quick-stats = ! /usr/local/bin/git-quick-stats
[color]
	ui = true
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[ghq]
  root = ~/src
[ghq "import"]
  starred = github-list-starred
  user = github-list-repos.py
  org = github-list-org-repos
  gitosis = gitosis-list-repos
